---
layout: default
---
<div class="back-link">
  <a href="/writings/">&laquo; Back to Writings</a>
</div>

<div class="top-navigation">
  {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
  {% assign prev_post = nil %}
  {% assign next_post = nil %}
  {% assign found_current = false %}
  
  {% for post in sorted_posts %}
    {% if found_current %}
      {% assign next_post = post %}
      {% break %}
    {% endif %}
    
    {% if post.url == page.url %}
      {% assign found_current = true %}
    {% else %}
      {% assign prev_post = post %}
    {% endif %}
  {% endfor %}
  
  {% if prev_post %}
    <a class="prev-post" href="{{ prev_post.url }}">&laquo; Previous: {{ prev_post.title }}</a>
  {% endif %}
  
  {% if next_post %}
    <a class="next-post" href="{{ next_post.url }}">Next: {{ next_post.title }} &raquo;</a>
  {% endif %}
</div>

<header class="post-header">
  <h1 class="post-title">{{ page.title }}</h1>
</header>

<span class="time">{{ page.date | date_to_string }}</span>
{% if page.categories %}
  <span class="categories">
    &raquo; {% for category in page.categories %}<a href="/category/{{ category }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}
  </span>
{% endif %}

<div class="content">
  <div class="post">{{ content }}</div>
  {% include share-page.html %}
</div>

{% assign hasSimilar = '' %}
  {% for post in site.posts  %}
    {% assign postHasSimilar = false %}
      {% for tag in post.categories %}
        {% for thisTag in page.categories %}
          {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
            {% if hasSimilar.size == 0 %}
            <div class="panel-body">
              <h4>Related Posts</h4>
              <ul>
            {% endif %}
                <li class="relatedPost">
                  <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                  {% if post.categories %}
                    (Categories: {% for category in post.categories %}<a href="/category/{{ category }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %})
                  {% endif %}
                </li>
          {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
          {% assign postHasSimilar = true %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
  {% if hasSimilar.size > 0 %}
  </ul>
</div>
{% endif %}

<div class="PageNavigation">
  {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
  {% assign prev_post = nil %}
  {% assign next_post = nil %}
  {% assign found_current = false %}
  
  {% for post in sorted_posts %}
    {% if found_current %}
      {% assign next_post = post %}
      {% break %}
    {% endif %}
    
    {% if post.url == page.url %}
      {% assign found_current = true %}
    {% else %}
      {% assign prev_post = post %}
    {% endif %}
  {% endfor %}
  
  {% if prev_post %}
    <a class="prev" href="{{ prev_post.url }}">&laquo; {{ prev_post.title }}</a>
  {% endif %}
  
  {% if next_post %}
    <a class="next" href="{{ next_post.url }}">{{ next_post.title }} &raquo;</a>
  {% endif %}
</div>

<div class="disqus-comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* <![CDATA[ */
    var disqus_shortname = "{{ site.disqus_shortname }}";
    var disqus_identifier = "{{ site.url }}_{{ page.title }}";
    var disqus_title = "{{ page.title }}";

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    /* ]]> */
  </script>
</div>
