{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="about-page">
    <h1>About</h1>
    
    <div class="about-content">
        <p>I'm a Product Designer working in the Open Hybrid Cloud space. I've been working at Red Hat since 2012 where I've been able to work with Open Source teams in the OpenStack and OpenShift spaces.</p>
        
        <p>If you'd like to reach out and chat further about any of my posts, feel free to email me: lizsurette[at]gmail.com</p>
    </div>
</div>
{% endblock %} 