{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="error-container">
                <h1>{{ title }}</h1>
                <div class="error-message">
                    <p>{{ error }}</p>
                </div>
                <div class="error-actions">
                    <a href="{{ url_for('main.index') }}" class="btn btn-primary">Return to Home</a>
                    <a href="{{ url_for('main.writings') }}" class="btn btn-default">View All Posts</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 